<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WorkerConfiguration" value="{path}\minerd\minerd.exe --url=stratum+tcp://coinotron.com:3334 --user=d_one.2 --pass=1"/>
    <add key="WorkerProcessPriority" value=""/>
    <add key="UpdaterLocation" value="{UpdaterLocation}"/>
  </appSettings>
</configuration>